$font-size: 14px;
$title-size: 20px;
$title-color: #ffffff;
$top-bar-background-color: #263238;

$bgc-color1: rgba(0, 0, 0, 1);
$bgc-color2: rgba(72, 61, 139, 1);
$bgc-color3: rgba(54, 54, 54, 1);
$bgc-color4: rgba(0, 0, 139, 1);
$bgc-color5: rgba(139,10,80, 1);
$balck: #000000;
$other-data-color: rgba(100, 149, 237, 0.7);